body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
th,
td,
form,
fieldset,
legend,
textarea,
input,
select,
textarea,
button,
article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
main {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
main {
  display: block;
}

html,
body {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-overflow-scrolling: auto;
}

img,
form,
fieldset,
svg,
li {
  border: 0;
  vertical-align: top;
}

ul,
ol {
  list-style: none;
}

button {
  overflow: visible;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

button::-moz-focus-inner {
  padding: 0;
  margin: -1px;
}

input,
button,
select {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

address,
caption,
em {
  font-style: normal;
}

a {
  display: inline-block;
}

a,
a:focus,
a:active,
a:hover {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.blind,
caption span,
legend {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  text-indent: -9999px;
  white-space: nowrap;
}

.sp_img::before,
.sp_img_mo::before {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  font-size: 0;
  content: "";
}

.sp_img::before {
  background-image: url("../../img/sprite/css_sprites.png");
  background-size: 1133px 824px;
}
@media screen and (max-width: 960px) {
  .sp_img::before {
    background-image: url("../../img/sprite/css_sprites_mo.png");
    background-size: 600px 394px;
  }
}

.wrap {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 64px;
  border: 1px solid #cccccc;
}
.header__title {
  display: inline-block;
  height: 100%;
  margin-left: 26px;
  font-size: 0;
}
.header__link {
  display: inline-flex;
  align-items: center;
  height: 100%;
}
.header__link::before {
  display: block;
  width: 120px;
  height: 24px;
  background-image: url("../../img/logo-pc.png");
  background-repeat: no-repeat;
  content: "";
}
.header__menu-mo {
  display: none;
}
.header__menu-btn {
  display: none;
}

.main {
  position: relative;
}

.nav {
  display: block;
  z-index: 1;
  position: absolute;
  width: 18.8%;
  height: 100%;
  padding: 47px 27px;
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  background-color: #fff;
}
.nav.is-active {
  width: 0;
  padding: 0;
}
.nav.is-active .nav__list {
  display: none;
}
.nav.is-active + .category .category__inner {
  padding-left: 36px;
}
.nav.is-active .nav__btn.sp_img::before {
  left: 5px;
  transform: rotate(180deg);
}
.nav__list {
  margin-top: 67px;
}
.nav__list--category {
  margin-top: 0;
}
.nav__list--category .nav__title.sp_img {
  width: 96px;
  height: 17px;
}
.nav__list--category .nav__title.sp_img::before {
  background-position: -969px -681px;
}
.nav__list--category .nav__item:first-of-type.sp_img {
  width: 69px;
  height: 15px;
}
.nav__list--category .nav__item:first-of-type.sp_img::before {
  background-position: -484px -457px;
}
.nav__list--category .nav__item:last-of-type.sp_img {
  width: 68px;
  height: 15px;
}
.nav__list--category .nav__item:last-of-type.sp_img::before {
  background-position: -484px -492px;
}
.nav__list--tag .nav__title.sp_img {
  width: 31px;
  height: 17px;
}
.nav__list--tag .nav__title.sp_img::before {
  background-position: -1074px -588px;
}
.nav__list--tag .nav__item:first-of-type.sp_img {
  width: 85px;
  height: 15px;
}
.nav__list--tag .nav__item:first-of-type.sp_img::before {
  background-position: -1003px -749px;
}
.nav__list--tag .nav__item:nth-of-type(2).sp_img {
  width: 59px;
  height: 15px;
}
.nav__list--tag .nav__item:nth-of-type(2).sp_img::before {
  background-position: -484px -565px;
}
.nav__list--tag .nav__item:nth-of-type(3).sp_img {
  width: 100px;
  height: 15px;
}
.nav__list--tag .nav__item:nth-of-type(3).sp_img::before {
  background-position: -883px -749px;
}
.nav__list--tag .nav__item:last-of-type.sp_img {
  width: 72px;
  height: 15px;
}
.nav__list--tag .nav__item:last-of-type.sp_img::before {
  background-position: -484px -422px;
}
.nav__title.sp_img {
  display: inline-block;
  font-size: 0;
}
.nav__item {
  display: block;
  margin: 14px 0 0 9px;
}
.nav__item:first-child {
  margin-top: 21px;
}
.nav__btn.sp_img {
  z-index: 1;
  position: absolute;
  top: 99px;
  right: -28px;
  width: 28px;
  height: 300px;
  border-radius: 0 10px 10px 0;
  background-color: #ffcc56;
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.26);
}
.nav__btn.sp_img::before {
  height: 30px;
  background-position: -837px -632px;
}

.category {
  width: 100%;
  background-color: #f9f9f9;
}
.category__inner {
  padding: 46px 60px 256px 275px;
}
.category__title.sp_img {
  display: inline-block;
  width: 171px;
  height: 29px;
  font-size: 0;
}
.category__title.sp_img::before {
  background-position: -883px -588px;
}
.category__tab {
  display: flex;
  margin-top: 20px;
}
.category__tab-btn {
  display: inline-block;
  width: 50%;
  padding: 12px 0;
  background-color: #f3f3f5;
  border-top: 2px solid #a6a8ab;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
.category__tab-btn.sp_img::before {
  width: 73px;
  height: 15px;
}
.category__tab-btn.is-active {
  background-color: #fbfbfb;
  border-top: 2px solid #57595a;
  border-bottom: none;
}
.category__tab-btn.tab-btn-left.sp_img::before {
  background-position: -484px -352px;
}
.category__tab-btn.tab-btn-left.is-active {
  border-right: none;
}
.category__tab-btn.tab-btn-right.sp_img::before {
  background-position: -484px -387px;
}
.category__tab-btn.tab-btn-right.is-active {
  border-left: none;
}
.category .blog {
  display: none;
  padding: 22px 0;
  background-color: #fbfbfb;
  border: 1px solid #cccccc;
  border-top: none;
}
.category .blog__item {
  display: flex;
  margin-top: 13px;
  padding-left: 20px;
  background-color: #f9f9f9;
  border: 1px solid #efeef2;
  border-top: none;
  border-left: none;
}
.category .blog__item:first-child {
  margin-top: 0;
}
.category .blog__img {
  display: inline-block;
  width: 260px;
  height: 176px;
  font-size: 0;
}
.category .blog__img::before {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}
.category .blog__img:first-of-type::before {
  background-image: url("../../img/blog-img-01.png");
}
.category .blog__contents {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 24px 37px;
}
.category .blog__title {
  display: -webkit-box;
  overflow: hidden;
  max-width: 464px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.5px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.category .blog__title-wrap {
  display: flex;
  align-items: center;
  position: relative;
  gap: 6px;
}
.category .blog__icon.sp_img {
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 0;
}
.category .blog__icon--new.sp_img::before {
  background-position: -1084px -679px;
}
.category .blog__user {
  display: inline-block;
  font-size: 0;
}
.category .blog__user-box {
  margin-top: 2px;
  font-size: 14px;
  line-height: 20px;
  color: #888888;
  letter-spacing: -0.35px;
}
.category .blog__user:first-child {
  padding-right: 3px;
  font-size: 14px;
}
.category .blog__user:last-child {
  position: relative;
  padding-left: 5px;
  font-size: 14px;
}
.category .blog__user:last-child::before {
  position: absolute;
  top: 4px;
  left: 0;
  width: 1px;
  height: 13px;
  background-color: #888888;
  content: "";
}
.category .blog__tag {
  display: inline-block;
  padding: 0 10px;
  background-color: #b3b6bb;
  border-radius: 2px;
  color: #fff;
}
.category .blog__tag-box {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 20px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.35px;
}
.category .blog__tag--green {
  background-color: #86bbb2;
}
.category .blog__tag--purple {
  background-color: #9da3d7;
}
.category .blog__tag--yellow {
  background-color: #ccc76c;
}
.category .blog__tag--brown {
  background-color: #a37a7b;
}
.category .story {
  display: block;
  padding: 20px 17px 0;
  background-color: #fbfbfb;
  border: 1px solid #cccccc;
  border-top: none;
}
.category .story__title.sp_img {
  width: 53px;
  height: 18px;
}
.category .story__title.sp_img::before {
  background-position: -484px -527px;
}
.category .story__inner {
  display: flex;
  gap: 1px;
  padding-top: 15px;
}
.category .story__inner:nth-of-type(2) {
  padding-top: 60px;
  gap: 6px;
}
.category .story__list {
  width: 454px;
}
.category .story__list.left .story__item {
  position: relative;
}
.category .story__list.left .story__item.sp_img {
  height: 332px;
}
.category .story__list.left .story__item.sp_img::before {
  background-position: -10px -286px;
}
.category .story__list.left .story__item-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 24px 28px;
  background-color: #000;
  font-size: 20px;
  color: #fff;
  line-height: 28px;
  letter-spacing: -0.5px;
  opacity: 0.6;
}
.category .story__list.right {
  display: inline-flex;
  flex-wrap: wrap;
}
.category .story__list.right .story__item {
  flex-shrink: 0;
  position: relative;
  width: calc(50% - 1px);
  height: 166px;
  padding-right: 1px;
}
.category .story__list.right .story__item::before {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../../img/best-img-pc.png");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
}
.category .story__list.right .story__item-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 14px;
  background-color: #000;
  font-size: 12px;
  color: #fff;
  line-height: 14px;
  letter-spacing: -0.3px;
  opacity: 0.6;
}
.category .ranking {
  display: inline-block;
  width: 50%;
}
.category .ranking__title {
  display: inline-block;
  font-size: 0;
}
.category .ranking__title.sp_img {
  width: 100px;
  height: 18px;
}
.category .ranking__title.sp_img::before {
  background-position: -1023px -637px;
}
.category .ranking__list {
  background: #fff;
  margin-top: 14px;
}
.category .ranking__item {
  display: flex;
  justify-content: space-between;
  padding: 5px 14px 12px 7px;
  border-bottom: 1px solid #cccccc;
}
.category .ranking__item-title {
  display: -webkit-box;
  overflow: hidden;
  max-width: 230px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: -0.35px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.category .ranking__item-title .num {
  margin-right: 2px;
}
.category .ranking__grade.sp_img {
  width: 80px;
  height: 13px;
}
.category .ranking__grade:first-of-type.sp_img::before {
  background-position: -484px -319px;
}
.category .new {
  display: inline-block;
  max-width: 50%;
}
.category .new__title {
  display: inline-block;
  font-size: 0;
}
.category .new__title.sp_img {
  width: 50px;
  height: 17px;
}
.category .new__title.sp_img::before {
  background-position: -484px -600px;
}
.category .new__contents {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
  padding-bottom: 11px;
  background-color: #fff;
}
.category .new__contents-wrap {
  display: flex;
  flex-direction: column;
}
.category .new__contents.first .swiper-box {
  margin-top: -4px;
}
.category .new__contents.first .swiper-slide {
  margin-left: 10px;
}
.category .new__contents.first .swiper-slide:first-child {
  margin-left: 0;
}
.category .new__contents.second {
  margin-top: -10px;
}
.category .new__contents.second .swiperbox {
  margin-top: -4px;
}
.category .new__contents.second .swiper-slide {
  align-items: center;
  width: 50%;
}
.category .new .swiper {
  position: relative;
  margin-top: 7px;
  padding: 0 42px;
}
.category .new .swiper-slide {
  display: flex;
}
.category .new .swiper-wrapper {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.category .new .swiper-button {
  position: absolute;
  top: 16px;
  width: 8px;
  height: 13px;
}
.category .new .swiper-button-prev.sp_img {
  left: 23px;
}
.category .new .swiper-button-prev.sp_img::before {
  background-position: -1108px -749px;
}
.category .new .swiper-button-next.sp_img {
  right: 23px;
}
.category .new .swiper-button-next.sp_img::before {
  background-position: -1108px -749px;
  transform: rotate(180deg);
}
.category .new__subtitle {
  margin-top: 11px;
  margin-left: 15px;
  font-weight: bold;
  font-size: 12px;
  color: #808080;
  line-height: 24px;
  letter-spacing: -0.35px;
}
.category .new__item {
  display: flex;
  width: 66px;
  height: 48px;
}
.category .new__img-pc {
  display: block;
}
.category .new__img-mo {
  display: none;
}
.category .new__desc {
  display: -webkit-box;
  overflow: hidden;
  margin-left: 10px;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: -0.3px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.category .recommend {
  background-color: #fff;
  margin-top: 74px;
  padding-bottom: 40px;
}
.category .recommend .swiper {
  overflow: hidden;
}
.category .recommend .swiper-wrapper {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  gap: 20px;
  right: 50%;
}
.category .recommend .swiper-slide {
  position: relative;
  width: 592px;
  height: 256px;
}
.category .recommend .swiper-img.sp_img {
  width: 592px;
  height: 256px;
}
.category .recommend .swiper-img.sp_img::before {
  background-position: -10px -10px;
}

.footer {
  background-color: #f1f1f1;
}
.footer__desc {
  padding: 16px 0;
  font-size: 13px;
  color: #777777;
  line-height: 21px;
  text-align: center;
}

.br-pc {
  display: block;
}
.br-mo {
  display: none;
}

@media screen and (max-width: 960px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
  }
  .header__title {
    margin-left: 15px;
  }
  .header__link {
    height: 48px;
  }
  .header__link::before {
    width: 80px;
    height: 16px;
    background-image: url("../../img/logo-mo.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .header__menu-btn {
    display: inline-block;
  }
  .header__menu-btn.sp_img {
    width: 26px;
    height: 100%;
    margin-right: 15px;
  }
  .header__menu-btn.sp_img::before {
    height: 14px;
    background-position: -554px -197px;
  }
  .header .dimmed {
    display: none;
  }
  .header .menu-mo {
    display: none;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 70%;
    height: 100%;
    padding: 0 27px;
    background-color: #fff;
    transition: transform 0.5s;
  }
  .header .menu-mo.is-active {
    display: block;
  }
  .header .menu-mo.is-active + .dimmed {
    display: block;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    transition: transform 0.5s;
  }
  .header .menu-mo__list {
    display: block;
    position: relative;
    z-index: 3;
    margin-top: 67px;
    background-color: #fff;
  }
  .header .menu-mo__list--category .menu-mo__title.sp_img {
    width: 95px;
    height: 17px;
  }
  .header .menu-mo__list--category .menu-mo__title.sp_img::before {
    background-position: -379px -140px;
  }
  .header .menu-mo__list--category .menu-mo__item:first-of-type.sp_img {
    width: 68px;
    height: 14px;
  }
  .header .menu-mo__list--category .menu-mo__item:first-of-type.sp_img::before {
    background-position: -476px -197px;
  }
  .header .menu-mo__list--category .menu-mo__item:last-of-type.sp_img {
    width: 68px;
    height: 15px;
  }
  .header .menu-mo__list--category .menu-mo__item:last-of-type.sp_img::before {
    background-position: -274px -227px;
  }
  .header .menu-mo__list--tag .menu-mo__title.sp_img {
    width: 30px;
    height: 17px;
  }
  .header .menu-mo__list--tag .menu-mo__title.sp_img::before {
    background-position: -5px -342px;
  }
  .header .menu-mo__list--tag .menu-mo__item:first-of-type.sp_img {
    width: 84px;
    height: 14px;
  }
  .header .menu-mo__list--tag .menu-mo__item:first-of-type.sp_img::before {
    background-position: -488px -167px;
  }
  .header .menu-mo__list--tag .menu-mo__item:nth-of-type(2).sp_img {
    width: 60px;
    height: 14px;
  }
  .header .menu-mo__list--tag .menu-mo__item:nth-of-type(2).sp_img::before {
    background-position: -316px -251px;
  }
  .header .menu-mo__list--tag .menu-mo__item:nth-of-type(3).sp_img {
    width: 100px;
    height: 14px;
  }
  .header .menu-mo__list--tag .menu-mo__item:nth-of-type(3).sp_img::before {
    background-position: -379px -166px;
  }
  .header .menu-mo__list--tag .menu-mo__item:last-of-type.sp_img {
    width: 72px;
    height: 18px;
  }
  .header .menu-mo__list--tag .menu-mo__item:last-of-type.sp_img::before {
    background-position: -395px -194px;
  }
  .header .menu-mo__title.sp_img {
    display: inline-block;
    font-size: 0;
  }
  .header .menu-mo__item {
    display: block;
    margin-left: 10px;
    margin-top: 15px;
  }
  .header .menu-mo__item:first-of-type {
    margin-top: 22px;
  }
  .nav {
    display: none;
  }
  .nav.is-active + .category .category__inner {
    width: 100%;
    padding-left: 0;
  }
  .category {
    background-color: #f9f9f9;
  }
  .category__inner {
    padding: 0;
    padding-top: 18px;
  }
  .category__title.sp_img {
    width: 96px;
    height: 16px;
    margin-left: 17px;
  }
  .category__title.sp_img::before {
    background-position: -485px -140px;
  }
  .category__tab {
    margin-top: 10px;
  }
  .category__tab-btn {
    padding: 10px 0;
    font-size: 14px;
  }
  .category__tab-btn.sp_img::before {
    width: 64px;
    height: 12px;
  }
  .category__tab-btn.tab-btn-left.sp_img::before {
    background-position: -350px -227px;
  }
  .category__tab-btn.tab-btn-right.sp_img::before {
    background-position: -424px -227px;
  }
  .category .blog {
    padding: 0;
  }
  .category .blog__item {
    gap: 0;
    max-height: 100%;
    margin-top: auto;
    padding: 17px 12px;
  }
  .category .blog__item:first-child {
    margin-top: 0;
  }
  .category .blog__img {
    display: none;
  }
  .category .blog__contents {
    width: 100%;
    padding: 0;
  }
  .category .blog__title {
    max-width: 100%;
    font-size: 14px;
    line-height: 21px;
    -webkit-line-clamp: initial;
    text-overflow: initial;
  }
  .category .blog__title-wrap {
    align-items: start;
    gap: 6px;
  }
  .category .blog__icon.sp_img {
    position: relative;
    top: 3px;
    width: 16px;
    height: 17px;
  }
  .category .blog__icon--new.sp_img::before {
    background-position: -46px -342px;
  }
  .category .blog__user {
    display: inline-block;
  }
  .category .blog__user-box {
    margin-top: 4px;
    line-height: 20px;
    color: #888888;
    letter-spacing: -0.35px;
  }
  .category .blog__user:first-child {
    padding-right: 6px;
    font-size: 12px;
  }
  .category .blog__user:last-child {
    padding-left: 8px;
    font-size: 12px;
  }
  .category .blog__user:last-child::before {
    top: 3px;
  }
  .category .blog__tag {
    margin-right: 9px;
    padding: 0;
    background-color: inherit;
    font-size: 12px;
    color: #808080;
  }
  .category .blog__tag-box {
    gap: 0;
    margin-top: 10px;
  }
  .category .blog__tag--green, .category .blog__tag--purple, .category .blog__tag--yellow, .category .blog__tag--brown {
    background-color: inherit;
  }
  .category .blog__tag--green {
    color: #009179;
  }
  .category .blog__tag--purple {
    color: #5b63d1;
  }
  .category .blog__tag--yellow {
    color: #c3aa12;
  }
  .category .blog__tag--brown {
    color: #6a2c2e;
  }
  .category .story {
    padding: 16px 14px 0;
  }
  .category .story__title.sp_img {
    width: 32px;
    height: 16px;
  }
  .category .story__title.sp_img::before {
    background-position: -274px -293px;
  }
  .category .story__inner {
    flex-direction: column;
    gap: 1px;
    padding-top: 6px;
  }
  .category .story__inner:nth-of-type(2) {
    padding-top: 20px;
    gap: 10px;
  }
  .category .story__list {
    width: 100%;
  }
  .category .story__list.left .story__item.sp_img {
    height: 210px;
  }
  .category .story__list.left .story__item.sp_img::before {
    background-image: url("../../img/best-big.png");
    background-position: center;
    background-size: cover;
  }
  .category .story__list.left .story__item-title {
    padding: 15px 18px;
    font-size: 13px;
    line-height: 18px;
  }
  .category .story__list.right {
    gap: 1px;
  }
  .category .story__list.right .story__item {
    height: 107px;
    padding-right: 0;
  }
  .category .story__list.right .story__item::before {
    background-image: url("../../img/best-sm.png");
    background-position: center;
  }
  .category .story__list.right .story__item-title {
    padding: 5px 8px;
    font-size: 10px;
    line-height: 9px;
    letter-spacing: -0.2px;
  }
  .category .ranking {
    order: 2;
    width: 100%;
  }
  .category .ranking__title.sp_img {
    width: 50px;
    height: 9px;
  }
  .category .ranking__title.sp_img::before {
    background-position: -458px -251px;
  }
  .category .ranking__list {
    margin-top: 10px;
  }
  .category .ranking__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 14px 8px 7px;
    border-bottom: none;
  }
  .category .ranking__item-title {
    max-width: 200px;
    font-size: 10px;
    letter-spacing: -0.22px;
  }
  .category .ranking__item-title .num {
    margin-right: 5px;
    font-size: 9px;
    color: #ffcb54;
  }
  .category .ranking__grade.sp_img {
    flex-shrink: 0;
    width: 64px;
    height: 15px;
  }
  .category .ranking__grade.sp_img:first-of-type.sp_img::before {
    background-position: -496px -227px;
  }
  .category .new {
    display: flex;
    flex-direction: column;
    order: 1;
    max-width: 100%;
  }
  .category .new__title.sp_img {
    width: 30px;
    height: 10px;
  }
  .category .new__title.sp_img::before {
    background-position: -315px -293px;
  }
  .category .new__contents {
    margin-top: 6px;
    padding-bottom: 20px;
  }
  .category .new__contents-wrap {
    flex-direction: row;
  }
  .category .new__contents.first {
    width: 50%;
  }
  .category .new__contents.first .swiper {
    margin-top: 12px;
  }
  .category .new__contents.first .swiper-box {
    overflow: hidden;
    width: 80%;
    margin: 0 10%;
  }
  .category .new__contents.first .swiper-wrapper {
    overflow: visible;
  }
  .category .new__contents.first .swiper-slide {
    margin-left: 0;
    min-width: 100%;
  }
  .category .new__contents.second {
    width: 50%;
    margin-top: 7px;
    padding: 0;
    padding-left: 18px;
  }
  .category .new__contents.second .swiper {
    margin-top: 11px;
  }
  .category .new__contents.second .swiper-box {
    padding: 0 7%;
  }
  .category .new__contents.second .swiper-slide {
    flex-direction: column;
    min-width: 48%;
    margin: 20px 0 0 10px;
  }
  .category .new__contents.second .swiper-slide:first-of-type {
    margin-left: 0;
  }
  .category .new .swiper {
    padding: 0;
  }
  .category .new .swiper-wrapper {
    width: 100%;
    height: 100%;
  }
  .category .new__subtitle {
    margin-left: 7px;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: -0.25px;
  }
  .category .new__item {
    margin-left: 10px;
  }
  .category .new__item:first-child {
    margin-left: 0;
  }
  .category .new__img-pc {
    display: none;
  }
  .category .new__img-mo {
    display: block;
    min-width: 100%;
  }
  .category .new__desc {
    position: relative;
    bottom: 0;
    margin: 12px 0 0;
    font-size: 10px;
    letter-spacing: -0.25px;
  }
  .category .recommend {
    margin-top: 22px;
    padding-bottom: 270px;
  }
  .category .recommend .swiper {
    position: relative;
  }
  .category .recommend .swiper-wrapper {
    gap: 0;
    right: 0;
    transform: none;
  }
  .category .recommend .swiper-slide {
    width: 100%;
    height: auto;
    max-height: 230px;
    flex-shrink: 0;
  }
  .category .recommend .swiper-img.sp_img {
    width: 100%;
  }
  .category .recommend .swiper-img.sp_img::before {
    background-image: url("../../img/rm-mo.png");
    background-position: center;
    background-size: contain;
    background-position-y: top;
  }
  .footer {
    background-color: #f1f1f1;
  }
  .footer__desc {
    padding: 16px 0;
    font-size: 13px;
    color: #777777;
    line-height: 21px;
    text-align: center;
  }
  .br-pc {
    display: none;
  }
  .br-mo {
    display: block;
  }
}
@media screen and (max-width: 640px) {
  .category .new__contents.second {
    width: 50%;
    margin-top: 6px;
    padding-left: 18px;
  }
  .category .new__contents.second .swiper {
    margin-top: 15px;
  }
  .category .new__contents.second .swiper-slide {
    min-width: 100%;
    margin: 6px 0 0 0;
    padding: 0;
  }
  .category .new__contents.second .new__img-mo {
    min-width: auto;
    max-width: 70%;
  }
  .category .new__desc {
    margin-top: 6px;
  }
}

/*# sourceMappingURL=style.css.map */
