<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>dk techin</title>
  </head>
  <body>
    <div class="wrap">
      <header class="header">
        <h1 class="header__title">
          <span class="blind">dk techin</span>
          <a href="#" class="header__link"></a>
        </h1>
        <!-- [D] 모바일일 때 display : block; -->
        <button type="button" class="header__menu-btn">
          <span class="blind">메뉴 열기</span>
        </button>
        <!-- [D] 햄버거 버튼 클릭 시 is-active 추가 -->
        <div class="header__menu">
          <dl class="header__menu-list">
            <dt class="header__menu-item">인기 카테고리</dt>
            <dd class="header__menu-item">인기 블로그</dd>
            <dd class="header__menu-item">인기 스토리</dd>
          </dl>
          <dl class="header__menu-list">
            <dt>태그</dt>
            <dd class="header__menu-item">#친절한답글러</dd>
            <dd class="header__menu-item">#해외여행</dd>
            <dd class="header__menu-item">#12월이슈포스트</dd>
            <dd class="header__menu-item">#100만구독</dd>
          </dl>
          <button type="button" class="header__close-btn">
            <span class="blind">메뉴 닫기</span>
          </button>
        </div>
      </header>
      <!-- [D] 모바일일 때 display : none; -->
      <main class="main">
        <nav class="nav">
          <div class="nav__list">
            <strong class="nav__title">인기 카테고리</strong>
            <p class="nav__item">인기 블로그</p>
            <p class="nav__item">인기 스토리</p>
          </div>
          <div class="nav__list">
            <strong class="nav__title">태그</strong>
            <p class="nav__item">#친절한답글러</p>
            <p class="nav__item">#해외여행</p>
            <p class="nav__item">#12월이슈포스트</p>
            <p class="nav__item">#100만구독</p>
          </div>
          <!-- [D] aria-expanded가 false 일 때 메뉴 닫기 -->
          <button type="button" class="nav__btn" aria-expanded="true">
            <span class="blind">메뉴 닫기</span>
          </button>
        </nav>
        <section class="category">
          <div class="category__inner">
            <h2 class="category__title">
              <span class="blind">인기 카테고리</span>
            </h2>
            <div class="category__tab">
              <div class="category__tab-btn left" role="button">인기 블로그</div>
              <div class="category__tab-btn right is-active" role="button">인기 스토리</div>
            </div>
            <ul class="blog">
              <li class="blog__item">
                <span class="blog__img"></span>
                <div class="blog__contents">
                  <p class="blog__title-wrap">
                    <strong class="blog__title">한 달에 5개 이상 포스팅할 정도면.. 블로그 좀 하시는 군요?</strong>
                  </p>
                  <div class="blog__user-box">
                    <p class="blog__user">
                      blog201Q
                      <span class="blind">작성자 id</span>
                    </p>
                    <p class="blog__user">
                      키미
                      <span class="blind">작성자 닉네임</span>
                    </p>
                  </div>
                  <div class="blog__tag-box">
                    <span class="blind">태그</span>
                    <span class="blog__tag">#국내여행블로그</span>
                    <span class="blog__tag">#100만방문자</span>
                    <span class="blog__tag">#9년차블로그</span>
                  </div>
                </div>
              </li>
              <li class="blog__item">
                <span class="blog__img"></span>
                <div class="blog__contents">
                  <p class="blog__title-wrap">
                    <strong class="blog__title">한 달에 5개 이상 포스팅할 정도면.. 블로그 좀 하시는 군요?</strong>
                    <span class="blog__icon blog__icon--hot">
                      <span class="blind">인기글</span>
                    </span>
                  </p>
                  <div class="blog__user-box">
                    <p class="blog__user">blog201Q
                      <span class="blind">작성자 id</span>
                    </p>
                    <p class="blog__user">키미
                      <span class="blind">작성자 닉네임</span>
                    </p>
                  </div>
                  <div class="blog__tag-box">
                    <span class="blind">태그</span>
                    <span class="blog__tag">#국내여행블로그</span>
                    <span class="blog__tag">#100만방문자</span>
                    <span class="blog__tag">#9년차블로그</span>
                    <span class="blog__tag blog__tag--green">#상위1%부지러너</span>
                    <span class="blog__tag blog__tag--purple">#상위1%댓글부자</span>
                    <span class="blog__tag blog__tag--yellow">#친절한답글러</span>
                    <span class="blog__tag blog__tag--brown">#10월이슈포스트</span>
                  </div>
                </div>
              </li>
              <li class="blog__item">
                <span class="blog__img"></span>
                <div class="blog__contents">
                  <p class="blog__title-wrap">
                    <strong class="blog__title">한 달에 5개 이상 포스팅할 정도면.. 블로그 좀 하시는 군요?</strong>
                  </p>
                  <div class="blog__user-box">
                    <p class="blog__user">blog201Q
                      <span class="blind">작성자 id</span>
                    </p>
                    <p class="blog__user">키미
                      <span class="blind">작성자 닉네임</span>
                    </p>
                  </div>
                  <div class="blog__tag-box">
                    <span class="blind">태그</span>
                    <span class="blog__tag">#국내여행블로그</span>
                    <span class="blog__tag">#100만방문자</span>
                    <span class="blog__tag">#9년차블로그</span>
                  </div>
                </div>
              </li>
              <li class="blog__item">
                <span class="blog__img"></span>
                <div class="blog__contents">
                  <p class="blog__title-wrap">
                    <strong class="blog__title">한 달에 5개 이상 포스팅할 정도면.. 블로그 좀 하시는 군요?</strong>
                  </p>
                  <div class="blog__user-box">
                    <p class="blog__user">blog201Q
                      <span class="blind">작성자 id</span>
                    </p>
                    <p class="blog__user">키미
                      <span class="blind">작성자 닉네임</span>
                    </p>
                  </div>
                  <div class="blog__tag-box">
                    <span class="blind">태그</span>
                    <span class="blog__tag">#국내여행블로그</span>
                    <span class="blog__tag">#100만방문자</span>
                    <span class="blog__tag">#9년차블로그</span>
                  </div>
                </div>
              </li>
              <li class="blog__item">
                <span class="blog__img"></span>
                <div class="blog__contents">
                  <p class="blog__title-wrap">
                    <strong class="blog__title">한 달에 5개 이상 포스팅할 정도면.. 블로그 좀 하시는 군요?</strong>
                  </p>
                  <div class="blog__user-box">
                    <p class="blog__user">blog201Q
                      <span class="blind">작성자 id</span>
                    </p>
                    <p class="blog__user">키미
                      <span class="blind">작성자 닉네임</span>
                    </p>
                  </div>
                  <div class="blog__tag-box">
                    <span class="blind">태그</span>
                    <span class="blog__tag">#국내여행블로그</span>
                    <span class="blog__tag">#100만방문자</span>
                    <span class="blog__tag">#9년차블로그</span>
                  </div>
                </div>
              </li>
              <li class="blog__item">
                <span class="blog__img"></span>
                <div class="blog__contents">
                  <p class="blog__title-wrap">
                    <strong class="blog__title">한 달에 5개 이상 포스팅할 정도면.. 블로그 좀 하시는 군요?</strong>
                  </p>
                  <div class="blog__user-box">
                    <p class="blog__user">blog201Q
                      <span class="blind">작성자 id</span>
                    </p>
                    <p class="blog__user">키미
                      <span class="blind">작성자 닉네임</span>
                    </p>
                  </div>
                  <div class="blog__tag-box">
                    <span class="blind">태그</span>
                    <span class="blog__tag">#국내여행블로그</span>
                    <span class="blog__tag">#100만방문자</span>
                    <span class="blog__tag">#9년차블로그</span>
                  </div>
                </div>
              </li>
              <li class="blog__item">
                <span class="blog__img"></span>
                <div class="blog__contents">
                  <p class="blog__title-wrap">
                    <strong class="blog__title">한 달에 5개 이상 포스팅할 정도면.. 블로그 좀 하시는 군요?</strong>
                  </p>
                  <div class="blog__user-box">
                    <p class="blog__user">blog201Q
                      <span class="blind">작성자 id</span>
                    </p>
                    <p class="blog__user">키미
                      <span class="blind">작성자 닉네임</span>
                    </p>
                  </div>
                  <div class="blog__tag-box">
                    <span class="blind">태그</span>
                    <span class="blog__tag">#국내여행블로그</span>
                    <span class="blog__tag">#100만방문자</span>
                    <span class="blog__tag">#9년차블로그</span>
                  </div>
                </div>
              </li>
              <li class="blog__item">
                <span class="blog__img"></span>
                <div class="blog__contents">
                  <p class="blog__title-wrap">
                    <strong class="blog__title">한 달에 5개 이상 포스팅할 정도면.. 블로그 좀 하시는 군요?</strong>
                  </p>
                  <div class="blog__user-box">
                    <p class="blog__user">blog201Q
                      <span class="blind">작성자 id</span>
                    </p>
                    <p class="blog__user">키미
                      <span class="blind">작성자 닉네임</span>
                    </p>
                  </div>
                  <div class="blog__tag-box">
                    <span class="blind">태그</span>
                    <span class="blog__tag">#국내여행블로그</span>
                    <span class="blog__tag">#100만방문자</span>
                    <span class="blog__tag">#9년차블로그</span>
                  </div>
                </div>
              </li>
            </ul>
            <!-- [D] 인기스토리 탭 클릭 시 display: block; -->
            <div class="story">
              <h3 class="category__subtitle">best</h3>
              <div class="story__inner">
                <ul class="story__list">
                  <li class="story__item">
                    <p class="story__title">한 달에 5개 이상 포스팅할 정도면.. 블로그 좀 하시는 군요?</p>
                  </li>
                </ul>
                <ul class="story__list">
                  <li>
                    <p class="story__title">한 달에 5개 이상 포스팅할 정도면.. 블로그 좀 하시는 군요?</p>
                  </li>
                  <li>
                    <p class="story__title">한 달에 5개 이상 포스팅할 정도면.. 블로그 좀 하시는 군요?</p>
                  </li>
                  <li>
                    <p class="story__title">한 달에 5개 이상 포스팅할 정도면.. 블로그 좀 하시는 군요?</p>
                  </li>
                  <li>
                    <p class="story__title">한 달에 5개 이상 포스팅할 정도면.. 블로그 좀 하시는 군요?</p>
                  </li>
                </ul>
              </div>
              <div class="ranking">
                <h3 class="category__subtitle">ranking</h3>
                <ul class="ranking__list">
                  <li class="ranking__item">
                    <p class="ranking__title">1 한 달에 5개 이상 포스팅할 정도면..</p>
                    <span class="ranking__grade"></span>
                  </li>
                  <li class="ranking__item">
                    <p class="ranking__title">2 한 달에 5개 이상 포스팅할 정도면..</p>
                    <span class="ranking__grade"></span>
                  </li>
                  <li class="ranking__item">
                    <p class="ranking__title">3 한 달에 5개 이상 포스팅할 정도면..</p>
                    <span class="ranking__grade"></span>
                  </li>
                  <li class="ranking__item">
                    <p class="ranking__title">4 한 달에 5개 이상 포스팅할 정도면..</p>
                    <span class="ranking__grade"></span>
                  </li>
                  <li class="ranking__item">
                    <p class="ranking__title">5 한 달에 5개 이상 포스팅할 정도면..</p>
                    <span class="ranking__grade"></span>
                  </li>
                </ul>
              </div>
              <div class="new">
                <h3 class="category__subtitle">new</h3>
                <div class="new__inner">
                  <h4 class="new__title">#국내여행블로그</h4>
                  <!-- swiper -->
                  <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                  <h4 class="new__title">#100만방문자</h4>
                  <!-- swiper -->
                  <ul>
                    <li></li>
                    <li></li>
                  </ul>
                </div>
              </div>
              <div class="recommend">
                <!-- swiper -->
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer class="footer">
        <p class="footer__desc">Copyright (c) dk techin All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
