@media screen and (max-width: $screen-md) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
      margin-left: 15px;
    }

    &__link {
      &::before {
        width: 80px;
        height: 16px;
        background-image: url("../../img/logo-mo.png");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &__menu-btn {
      display: inline-block;

      &.sp_img {
        width: 26px;
        height: 100%;
        margin-right: 15px;

        &::before {
          height: 14px;
          background-position: -554px -197px;
        }
      }
    }

    .dimmed {
      display: none;
    }

    .menu-mo {
      display: none;
      z-index: calc($z-index-minimum + 1);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 70%;
      height: 100%;
      padding: 0 27px;
      background-color: #fff;
      transition: transform 0.5s;

      &.is-active {
        display: block;

        &+.dimmed {
          display: block;
          z-index: $z-index-minimum;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background-color: #000;
          opacity: .7;
          transition: transform 0.5s;
        }
      }

      &__list {
        display: block;
        position: relative;
        z-index: calc($z-index-minimum + 2);
        margin-top: 67px;
        background-color: #fff;

        &--category {
          .menu-mo {
            &__title.sp_img {
              width: 95px;
              height: 17px;

              &::before {
                background-position: -379px -140px;
              }
            }

            &__item {
              &:first-of-type.sp_img {
                width: 68px;
                height: 14px;

                &::before {
                  background-position: -476px -197px;
                }
              }

              &:last-of-type.sp_img {
                width: 68px;
                height: 15px;

                &::before {
                  background-position: -274px -227px;
                }
              }
            }
          }
        }

        &--tag {
          .menu-mo {
            &__title.sp_img {
              width: 30px;
              height: 17px;

              &::before {
                background-position: -5px -342px;
              }
            }

            &__item {
              &:first-of-type.sp_img {
                width: 84px;
                height: 14px;

                &::before {
                  background-position: -488px -167px;
                }
              }

              &:nth-of-type(2).sp_img {
                width: 60px;
                height: 14px;

                &::before {
                  background-position: -316px -251px;
                }
              }

              &:nth-of-type(3).sp_img {
                width: 100px;
                height: 14px;

                &::before {
                  background-position: -379px -166px;
                }
              }

              &:last-of-type.sp_img {
                width: 72px;
                height: 18px;

                &::before {
                  background-position: -395px -194px;
                }
              }
            }
          }
        }
      }

      &__title.sp_img {
        display: inline-block;
        font-size: 0;
      }

      &__item {
        display: block;
        margin-left: 10px;
        margin-top: 15px;

        &:first-of-type {
          margin-top: 22px;
        }
      }
    }
  }

  .nav {
    display: none;

    &.is-active+.category .category__inner {
      width: 100%;
      padding-left: 0;
    }
  }

  .category {
    background-color: #f9f9f9;

    &__inner {
      padding: 0;
      padding-top: 21px;
    }

    &__title {
      &.sp_img {
        width: 96px;
        height: 16px;
        margin-left: 17px;

        &::before {
          background-position: -485px -140px;
        }
      }
    }

    &__tab {
      margin-top: 14px;

      &-btn {
        padding: 12.5px 0;
        font-size: 14px;

        &.sp_img::before {
          width: 64px;
          height: 16px;
        }

        &.tab-btn-left {
          &.sp_img::before {
            background-position: -350px -227px;
          }
        }

        &.tab-btn-right {
          &.sp_img::before {
            background-position: -424px -227px;
          }
        }
      }
    }

    .blog {
      padding: 0;

      &__item {
        gap: 0;
        max-height: 100%;
        margin-top: auto;
        padding: 20px 15px;

        &:first-child {
          margin-top: 0;
        }
      }

      &__img {
        display: none;
      }

      &__contents {
        width: 100%;
        padding: 0;
      }

      &__title {
        max-width: 100%;
        font-size: 16px;
        line-height: 21px;
        -webkit-line-clamp: initial;
        text-overflow: initial;

        &-wrap {
          display: flex;
          align-items: center;
          gap: 6px;
        }
      }

      &__icon {
        display: inline-block;
        width: 16px;
        height: 16px;
        font-size: 0;

        &::before {
          display: block;
          width: 100%;
          height: 100%;
          content: '';
        }

        &--new {
          background-image: url("../../img/ico-new.png");
        }

        &--hot {
          // background-image: url("../../img/ico-new.png");
        }
      }

      &__user {
        display: inline-block;

        &-box {
          margin-top: 12px;
          font-size: 14px;
          line-height: 20px;
          color: #888888;
          letter-spacing: -0.35px;
        }

        &:first-child {
          padding-right: 12px;
        }

        &:last-child {
          position: relative;
          padding-left: 12px;

          &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 13px;
            background-color: #888888;
            content: '';
          }
        }
      }

      &__tag {
        margin-right: 9px;
        padding: 0;
        background-color: #fff;
        font-size: 16px;
        color: #808080;

        &-box {
          gap: 0;
          width: 100%;
          margin-top: 20px;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: -0.35px;
        }

        &--green,
        &--purple,
        &--yellow,
        &--brown {
          background-color: #fff;
        }

        &--green {
          color: #009179;
        }

        &--purple {
          color: #5b63d1;
        }

        &--yellow {
          color: #c3aa12;
        }

        &--brown {
          color: #6a2c2e;
        }
      }
    }

    .story {
      padding: 20px 17px 0;

      &__title {
        &.sp_img {
          width: 32px;
          height: 16px;

          &::before {
            background-position: -274px -293px;
          }
        }
      }

      &__inner {
        flex-direction: column;
        gap: 1px;
        padding-top: 7px;

        &:nth-of-type(2) {
          padding-top: 20px;
          gap: 10px;
        }
      }

      &__list {
        width: 100%;

        &.left {
          .story__item {
            &.sp_img {
              height: 240px;

              &::before {
                background-image: url("../../img/best-big.png");
                background-position: center;
                background-size: cover;
              }
            }

            &-title {
              padding: 19px;
              font-size: 13px;
              line-height: 18px;
            }
          }
        }

        &.right {
          gap: 1px;

          .story__item {
            height: 105px;
            padding-right: 0;

            &::before {
              background-image: url("../../img/best-sm.png");
              background-position: center;
            }

            &-title {
              padding: 7px 9px;
              font-size: 7.5px;
              line-height: 9px;
              letter-spacing: -0.2px;
            }
          }
        }
      }
    }

    .ranking {
      order: 2;
      width: 100%;

      &__title {
        &.sp_img {
          width: 50px;
          height: 9px;

          &::before {
            background-position: -458px -251px;
          }
        }
      }

      &__list {
        margin-top: 10px;
      }

      &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 14px 8px 7px;
        border-bottom: none;

        &-title {
          max-width: 200px;
          font-size: 10px;
          letter-spacing: -0.22px;

          .num {
            margin-right: 5px;
            font-size: 9px;
            color: #ffcb54;
          }
        }
      }

      &__grade.sp_img {
        flex-shrink: 0;
        width: 64px;
        height: 15px;

        &:first-of-type.sp_img::before {
          background-position: -496px -227px;
        }
      }
    }

    .new {
      display: flex;
      flex-direction: column;
      order: 1;
      max-width: 100%;

      &__title {
        &.sp_img {
          width: 30px;
          height: 10px;

          &::before {
            background-position: -315px -293px;
          }
        }
      }

      &__contents {
        margin-top: 7px;
        padding-bottom: 20px;

        &-wrap {
          flex-direction: row;
        }

        &.first {
          width: 50%;
          
          .swiper {
            margin-top: 12px;

            &-box {
              overflow: hidden;
              width: 80%;
              margin: 0 10%;
            }

            &-wrapper {
              overflow: visible;
            }

            &-slide {
              margin-left: 0;
              min-width: 100%;
            }
          }
        }

        &.second {
          width: 50%;
          margin-top: 7px;
          padding: 0;
          padding-left: 18px;

          .swiper {
            margin-top: 11px;

            &-box {
              padding: 0 7%;
            }

            &-slide {
              flex-direction: column;
              min-width: 48%;
              margin: 20px 0 0 10px;

              &:first-of-type {
                margin-left: 0;
              }
            }
          }
        }
      }

      .swiper {
        padding: 0;

        &-wrapper {
          width: 100%;
          height: 100%;
        }
      }

      &__subtitle {
        margin-left: 7px;
        font-size: 10px;
        line-height: 16px;
        letter-spacing: -0.25px;
      }

      &__item {
        margin-left: 10px;

        &:first-child {
          margin-left: 0;
        }
      }

      &__img {
        &-pc {
          display: none;
        }

        &-mo {
          display: block;
          min-width: 100%;
        }
      }

      &__desc {
        position: relative;
        bottom: 0;
        margin: 12px 0 0;
        font-size: 10px;
        letter-spacing: -0.25px;
      }
    }

    .recommend {
      margin-top: 22px;
      padding-bottom: 270px;

      .swiper {
        position: relative;

        &-wrapper {
          gap: 0;
          right: 0;
          transform: none;
        }

        &-slide {
          width: 100%;
          height: auto;
          max-height: 230px;
          flex-shrink: 0;

          &::before {}
        }

        &-img.sp_img {
          width: 100%;

          &::before {
            background-image: url("../../img/rm-mo.png");
            background-position: center;
            background-size: contain;
            background-position-y: top;
          }
        }
      }
    }

    .br-pc {
      display: none;
    }
  }

  .footer {
    background-color: #f1f1f1;

    &__desc {
      padding: 16px 0;
      font-size: 13px;
      color: #777777;
      line-height: 21px;
      text-align: center;
    }
  }
}

@media screen and (max-width: $screen-sm) {
  .category {
    .new {
      &__contents {
        &.second {
          width: 50%;
          margin-top: 7px;
          padding-left: 18px;

          .swiper {
            margin-top: 15px;

            &-slide {
              min-width: 100%;
              margin: 6px 0 0 0;
              padding: 0;
            }
          }

          .new__img-mo {
            min-width: auto;
            max-width: 70%;
          }
        }
      }

      &__desc {
        margin-top: 6px;
      }
    }
  }
}