$screen-xsm: 320px;
$screen-sm: 640px;
$screen-md: 960px;
$screen-lg: 1280px;
$screen-xlg: 1440px;

$border-grey: #cccccc;
$category-bg: #f9f9f9;
$blog-list-border: #efeef2;

$z-index-minus: -1;
$z-index-zero: 0;
$z-index-minimum: 1;